        <footer>
            <p>Under <a href="https://en.wikipedia.org/wiki/WFPL" target="_blank">WFPL</a> - &copy; 2021 Manida Vilay</p>
            <script src="../js/index.js"></script>
        </footer>
    </body>
</html>  